html, body, #wrapper {
    height: 100%;
}
body > #wrapper {
    height: auto;
    min-height: 100%;
}
body, textarea {
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container {
    margin: 0 auto;
    width: 940px;
}
header {
    background-color: #3f51b5;
    color: #ffffff;
}
header div {
    position: relative;
}
#itsme {
    width: 150px;
    height: 150px;
    margin: 16px 8px;
    /*imagem arredondada*/
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    /*sombra*/
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    /*filtro*/
    /*suporte Chrome, Safari, Android, Opera*/
    -webkit-filter: grayscale(25%);
    /*suporte para Firefox*/
    filter: grayscale(25%);
}
#itsme:hover {
    /*filtro*/
    /*suporte Chrome, Safari, Android, Opera*/
    -webkit-filter: grayscale(13%);
    /*suporte para Firefox*/
    filter: grayscale(13%);
}
#say-my-name {
    position: absolute;
    left: 174px;
    top: 41px;
}
#say-my-name h1 {
    font-size: 45px;
}
#say-my-name h2 {
    margin-top: 8px;
    font-size: 24px;
}
#say-my-name p {
    margin-top: 8px;
    font-size: 18px;
}
.talk-me {
    margin: 4px 0;
}
.talk-me a, .link a {
    text-decoration: none;
    color: #fff;
}
.talk-me a:hover, .link a {
    color: #B3BEC7;
}
.talk-me a:visited, .link a:visited {
    color: #eee;
}
.social-menu {
    position: absolute;
    bottom: 16px;
    right: 8px;
}
.social-menu ul {
    font-size: 15px;
}
.social-menu ul li {
    display: inline;
    margin-left: 0px;
}
article {
    padding-bottom: 100px;
}
article section {
    padding: 16px 3px;
    margin: 16px auto;
    clear: both;
    border-bottom: 2px solid #B6B6B6;
}
article section:first-child, article section:last-child {
    border: 0px;
}
.link {
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    background-color: #607D8B;
    text-align: center;

    clear: both;
    padding: 10px;
    width: 100px;
    margin: 0 auto;
}
.link a {
    font-size: 1.5em;
    font-weight: lighter;
    font-style: italic;
}
.block {
    position: relative;
    margin: 0 4px;
    text-align: justify;
}
.block h2 {
    font-size: 24px;
    text-align: center;
}
.block h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 16px;
}
.title {
    margin: 32px 8px;
    width: 150px;
    float: left;
    clear: right;
}
.content {
    margin: 16px 4px;
    width: 758px;
    float: right;
}
.title, .content {
    padding-top: 16px;
    vertical-align: top;
}
.period {
    position: absolute;
    top: 32px;
    right: 0;
    font-size: 18px;
    vertical-align: baseline;
}
.description {
    margin: 8px 0;
    text-indent: 30px;
}
#message-form {
    width: 450px;
    margin: 10px auto;
    /*font-size: 3em;*/
}
#message-form textarea {
    resize: vertical;
    min-height: 200px;
}
#message-form input[type=text], #message-form textarea {
    width: 450px;
    margin: 4px auto 0;
    display: block;
}
#message-form input[type=text], #message-form textarea, #message-form button {
    font-size: 1.2em;
}
#message-form h3 {
    font-size: 3.5em !important;
    margin: 15px 0;
    padding: 10px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    background-color: #607D8B;
    color: #fff;
}
footer {
    clear: both;
    position: relative;
    z-index: 10;
    padding-top: 20px;
    height: 80px;
    margin-top: -100px;
    background-color: #607D8B;
}
footer .container {
    position: relative;
    text-align: center;
    color: #ffffff;
}
footer h1 {
    font-size: 24px;
    margin-bottom: 6px;
}
footer h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}
footer h1 {
    font-size: 24px;
    margin-bottom: 6px;
}
