body {
  color: #333;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
  margin: 0 auto;
  width: 940px;
}

header {
  background: url(../img/header-background.png) repeat;
  color: #ffffff;
}

header div {
  position: relative;
}

#itsme {
  width: 150px;
	height: 150px;
  margin: 16px 8px;

  /*imagem arredondada*/
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;

  /*sombra*/
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

  /*filtro*/
  /*suporte Chrome, Safari, Android, Opera*/
  -webkit-filter: grayscale(25%);
  /*suporte para Firefox*/
  filter: grayscale(25%);
}

#say-my-name {
  position: absolute;
  left: 174px;
  top: 41px;
}

#say-my-name h1 {
  font-size: 45px;
}

#say-my-name h2 {
  margin-top: 8px;
  font-size: 24px;
}

#say-my-name p {
  margin-top: 8px;
  font-size: 18px;
}

.social-menu {
  position: absolute;
  bottom: 16px;
  right: 8px;
}

.social-menu ul {
  font-size: 15px;
}

.social-menu ul li {
  display: inline;
  margin-left: 0rpx
}

article section {
  padding: 16px auto;
  margin: 16px auto;
  /*border-bottom: 2px solid #B6B6B6;*/
}

.block {
  position: relative;
  margin: 0 8px;
  text-align: justify;
}

.block h2 {
  font-size: 24px;
  text-align: center;
}

.block h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.title {
  margin: 32px 8px;
  width: 150px;
  float: left;
  clear: right;
}

.content {
  margin: 16px 8px;
  width: 758px;
  float: right;
}

.title, .content {
  padding-top: 16px;
  vertical-align: top;
}

.period {
  position: absolute;
  top: 32px;
  right: 0;
  font-size: 18px;
  vertical-align: baseline;
}

.description {
  margin: 8px 0;
  text-indent: 30px;
}

footer {
  background-color: #607D8B;
  clear: both;
  padding: 20px;
}

footer .container {
  position: relative;
  text-align: center;
  color: #ffffff;
}

footer h1 {
  font-size: 24px;
  margin-bottom: 6px;
}

footer h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 6px;
}

footer h1 {
  font-size: 24px;
  margin-bottom: 6px;
}
