$font-stack: Helvetica, sans-serif;

$primary-color:              #3F51B5;
$primary-color-dark:         #303F9F;
$primary-color-light:        #C5CAE9;
$primary-color-text:         #FFFFFF;
$primary-text-color:         #212121;
$secondary-text-color:       #727272;
$accent-color:               #FF5722;
$divider-color:              #B6B6B6;

$padding: 1em;

body {
    font: 100% $font-stack;
    background-color: $primary-color;
    color: $primary-text-color;
}

.container {
    width: 1020px;
    margin: 0 auto;
    @media screen and (max-width: 400px) {
        width: 300px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary-color-text;
    text-shadow: 1px 1px 2px $primary-text-color;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.17em;
}
h4 {
    font-size: 1.12em;
}
h5 {
    font-size: 0.83em;
}
h6 {
    font-size: 0.75em;
}
p {
    .inverted {
        color: $primary-color-text
    }
}

nav {
    padding: $padding;
}

@mixin btn-shadow($color) {
    background-color: $color;
    box-shadow: 3px -3px 5px rgba($color, .2);
}
.btn {
    height: 40px;
    border-radius: 20px;
    border: 0;
}

.btn-primary {
    @include btn-shadow($accent-color);
}

.btn-trans {
    background-color: transparent;
}

.container-box {
    min-height: 100vh;
    max-height: 100vh;
    background-image: url("../img/dest/background.jpg");
    background-size: cover;
    background-color: rgba($primary-color-dark, .85);
    background-blend-mode: multiply;
    .content-box {
        border-radius: 1em;
        background-color: rgba($primary-color-light,.05);
        background-blend-mode: exclusion;
        width: 650px;
        margin: 12vh auto;
        vertical-align: middle;
        padding-top: $padding;
        padding-bottom: $padding;
        figure {
            img {
                display: block;
                width: 150px;
                margin: 0 auto;
                border-radius: 100px;
            }
            figcaption h1 {
                text-align: center;
                font-size: 6em;
            }
        }
        h2 {
            text-align: center;
        }
        @media screen and (max-width: 400px) {
            background-color: transparent;
            width: 100vw;
            margin-top: 0px;
            img {
                width: 135px;
            }
            figure {
                figcaption h1 {
                    font-size: 4.5em;
                    line-height: 90%;
                }
            }
        }
    }
    #next-page {
        width: 75px;
        margin: 0 auto;
    }
}

article {
    background-color: #FFF;
    color: $primary-text-color;
    #main {
        height: 1000px;
    }
}
