body {
  font: 100% Helvetica, sans-serif;
  background-color: #3F51B5;
  color: #212121; }

.container {
  width: 1020px;
  margin: 0 auto; }
  @media screen and (max-width: 400px) {
    .container {
      width: 380px; } }

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #212121; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

p .inverted {
  color: #FFFFFF; }

nav {
  padding: 1em; }

.container-box {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("../img/dest/background.jpg");
  background-size: cover;
  background-color: rgba(48, 63, 159, 0.85);
  background-blend-mode: multiply; }
  .container-box .content-box {
    border-radius: 1em;
    background-color: rgba(197, 202, 233, 0.05);
    background-blend-mode: exclusion;
    width: 650px;
    margin: 12vh auto;
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1em; }
    .container-box .content-box figure img {
      display: block;
      width: 150px;
      margin: 0 auto;
      border-radius: 100px; }
    .container-box .content-box figure figcaption h1 {
      text-align: center;
      font-size: 6em; }
    .container-box .content-box h2 {
      text-align: center; }
    @media screen and (max-width: 650px) {
      .container-box .content-box {
        background-color: rgba(197, 202, 233, 0);
        width: 100vw; }
        .container-box .content-box img {
          width: 135px; }
        .container-box .content-box figure figcaption h1 {
          font-size: 4.5em; } }
