body {
  font: 100% Helvetica, sans-serif;
  background-color: #3F51B5;
  color: #212121; }

.container {
  width: 1020px;
  margin: 0 auto; }
  @media screen and (max-width: 400px) {
    .container {
      width: 300px; } }

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #212121; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

h4 {
  font-size: 1.12em; }

h5 {
  font-size: 0.83em; }

h6 {
  font-size: 0.75em; }

p .inverted {
  color: #FFFFFF; }

nav {
  padding: 1em; }

.btn {
  height: 40px;
  border-radius: 20px;
  border: 0; }

.btn-primary {
  background-color: #FF5722;
  box-shadow: 3px -3px 5px rgba(255, 87, 34, 0.2); }

.btn-trans {
  background-color: transparent; }

.container-box {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("../img/dest/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(48, 63, 159, 0.85);
  background-blend-mode: multiply;
  align-content: center; }
  .container-box .content-box {
    border-radius: 1em;
    background-color: rgba(197, 202, 233, 0.05);
    background-blend-mode: exclusion;
    width: 650px;
    margin: 12vh auto;
    vertical-align: middle;
    padding-top: 1em;
    padding-bottom: 1em; }
    .container-box .content-box figure img {
      display: block;
      width: 150px;
      margin: 0 auto;
      border-radius: 100px; }
    .container-box .content-box figure figcaption h1 {
      text-align: center;
      font-size: 6em; }
    .container-box .content-box h2 {
      text-align: center; }
    @media screen and (max-width: 400px) {
      .container-box .content-box {
        background-color: transparent;
        width: 100vw;
        margin-top: 0px; }
        .container-box .content-box img {
          width: 135px; }
        .container-box .content-box figure figcaption h1 {
          font-size: 4.5em;
          line-height: 90%; } }
  .container-box #next-page {
    width: 75px;
    margin: 0 auto; }

article {
  background-color: #FFF;
  color: #212121; }
  article #main {
    height: 1000px; }
