<header class="container-box">
    <div class="row middle-md">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
            <div class="box fade" ng-show="isLoaded">
                <figure>
                    <img class="elevation" ng-src="{{info.image.path}}" alt="{{info.image.description}}" title="{{info.image.description}}">
                    <figcaption>
                        <h1>{{info.name}}</h1>
                    </figcaption>
                </figure>
                <hr class="style-two">
                <h2>{{info.job}}</h2>
            </div>
        </div>
    </div>
</header>

<article id="main">
    <div class="row center-md">
        <col-md-3>
            <box></box>
        </col-md-3>
        <col-md-3>
            <box></box>
        </col-md-3>
    </div>
</article>
